{% extends 'base.html' %}

{% block title %}Комментарии — Blog System{% endblock %}

{% block content %}

<h2>Комментарии</h2>

<form method="get">
    <input type="text" name="q" value="{{ query }}" placeholder="Поиск по тексту и имени автора">

    <button type="submit">Поиск</button>
    <a href="{% url 'comment_list' %}">Сбросить поиск</a>
</form>

{% for comment in page_obj %}
    <div>
        <p><strong>{{ comment.name_author }}</strong></p>
        <p>{{ comment.text_comment }}</p>
        <p>{{ comment.created_at }}</p>
    </div>
{% empty %}
    <p>Комментариев пока нет.</p>
{% endfor %}

<div>
    {% if page_obj.has_previous %}
        <a href="?q={{ query }}&page={{ page_obj.previous_page_number }}">Назад</a>
    {% endif %}

    <span>
        Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
    </span>

    {% if page_obj.has_next %}
        <a href="?q={{ query }}&page={{ page_obj.next_page_number }}">Вперёд</a>
    {% endif %}
</div>

{% endblock %}