{% extends 'base.html' %}

{% block title %} about {% endblock %}

{% block content %}
<h2>О нашем блоге</h2>

<p>
Добро пожаловать в <strong>Blog System</strong> — учебный проект,
созданный с использованием Django.
</p>



<h3>Возможности сайта</h3>

<ul>
    <li>Главная страница</li>
    <li>Страница «О нас»</li>
    <li>Страница «Контакты»</li>
    <li>Страница «Правила»</li>
</ul>

<div class="info-box">
    <h3>Наша цель</h3>
    <p>
        Изучить основы Django и научиться создавать красивые веб-сайты.
    </p>
</div>
{% endblock %}

